.icon {
    background-image: url("../../src/icons/github.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.star {
    background-image: url("../../src/icons/star.svg");
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}
