.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__title {
    color: rgb(255, 255, 255);
}

.movie__poster {
    width: 200px;
    height: 250px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.76);
}

.movie__year {
    color: rgb(248, 110, 110);
}

.movie__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}