.footer {
  position: absolute;
  width: 100%;
  @include linear-gradient($direction: to bottom, $fromColor: #8f1c2a, $toColor: #481718);
  height: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
  bottom: 0;
  align-items: center;
}

.footer__text {
  color: $color-text;
  padding-top: 10px;
}
