.header {
    @include linear-gradient($direction: to top, $fromColor: #b51b33, $toColor: #481718);
    height: 80px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
}

.header_logo {
    color: $color-text;
    @extend %transition;
}
